* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}

/* Basic */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #242629;
}

/* Type */

a:hover p:hover {
	color: #0099ff;
}

p {
	margin: 0 0 2em 0;
}

h1, h2{
	color: #ffffff;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 1.5;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1.25em;
}


/* Poptrox Popup */

.poptrox-popup .nav-previous,
.poptrox-popup .nav-next {
	transition: opacity 0.2s ease-in-out;
	background-image: url("images/arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5em;
	cursor: pointer;
	height: 8em;
	margin-top: -4em;
	opacity: 0;
	position: absolute;
	top: 50%;
	width: 6em;
	z-index: 2;
}

.poptrox-popup .nav-previous {
	transform: scaleX(-1);
	left: 0;
}

.poptrox-popup .nav-next {
	right: 0;
}

.poptrox-popup .caption {
	padding: 2em 2em 0.1em 2em ;
	background-image: -moz-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
	background-image: -webkit-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
	background-image: -ms-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
	background-image: linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
	bottom: 0;
	position: absolute;
	text-align: left;
	width: 100%;
}

.poptrox-popup .caption h2{
	margin: 0 0 0.5em 0;
}

.poptrox-popup .caption p {
	color: #ffffff;
}

.poptrox-popup:hover .nav-previous,
.poptrox-popup:hover .nav-next {
	opacity: 0.5;
}

.poptrox-popup:hover .nav-previous:hover,
.poptrox-popup:hover .nav-next:hover {
	opacity: 1;
}


/* Wrapper */

#wrapper {
	position: relative;
}

body.modal-active #wrapper {
	filter: blur(10px);
}

/* Header */

body {
	padding: 0 0 4em 0;
}

#header {
	background: #1f2224;
	line-height: 4em;
	padding: 0 1.5em;
	text-align: center;
}

#header h1 {
	color: #fff;
	display: inline-block;
	font-size: 1em;
}

/* Main */

#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}

#main .thumb {
	position: relative;
	height: calc(40vh - 2em);
	min-height: 20em;
	width: 33.33333%;
}

#main .thumb:after {
	pointer-events: none;
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#main .thumb > .image {
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#main .thumb > h2 {
	pointer-events: none;
	bottom: 1.875em;
	font-size: 0.8em;
	left: 2.1875em;
	margin: 0;
	position: absolute;
	z-index: 1;
}

/* Media screen */

@media screen and (max-width: 1280px) {

	#main .thumb {
		height: calc(40vh - 2em);
		min-height: 20em;
		width: 50%;
	}
}

@media screen and (max-width: 980px) {

	#main .thumb {
		height: calc(28.57143vh - 1.33333em);
		min-height: 18em;
		width: 50%;
	}
}

@media screen and (max-width: 480px) {

	#main .thumb {
		height: calc(40vh - 2em);
		min-height: 18em;
		width: 100%;
	}
}